PORT = 3000
TELEGRAM_BOT_TOKEN = 
DOMAIN =
GEMINI_API_KEY =
ELEVEN_API_KEY =

GEMINI_TTS_VOICE = Charon

PYTHON_BIN=py
EDGE_TTS_SCRIPT=./tts.py

EDGE_TTS_VOICE_AS=as-IN-YashicaNeural
EDGE_TTS_VOICE_BN=bn-IN-TanishaaNeural
EDGE_TTS_VOICE_HI=hi-IN-MadhurNeural
EDGE_TTS_VOICE_TA=ta-IN-PallaviNeural
EDGE_TTS_VOICE_EN=en-IN-PrabhatNeural

EDGE_TTS_DEBUG = 0
